"*":
  editor:
    fontSize: 12
    showIndentGuide: true
    autoIndentOnPaste: false
    nonWordCharacters: "./\\\\()\\\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
    tabLength: 4
    softWrap: true
    invisibles: {}
  core:
    ignoredNames: [
      ".git"
      ".sass-cache"
      ".DS_Store"
      "composer.lock"
    ]
    disabledPackages: [
      "language-java"
      "language-toml"
      "background-tips"
      "bookmarks"
      "markdown-preview"
      "spell-check"
      "archive-view"
      "autoflow"
      "autosave"
      "bezier-curve-editor"
      "go-to-line"
      "open-on-github"
      "Zen"
      "atom-jshint"
      "linter-scss-lint"
      "linter-htmlhint"
      "language-ruby-on-rails"
      "language-objective-c"
      "language-less"
      "docblockr"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    projectHome: "/Users/dmongeau/Dropbox/Sites"
  "exception-reporting":
    userId: "bf3ab42e-1c26-e9b9-141a-bbcd1e367d22"
  "release-notes":
    viewedVersion: "0.92.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "d4f04106661c7c892c48e7ea675a18896355e99a"
  "atom-jshint":
    hintOnModify: false
  "git-diff":
    showIconsInEditorGutter: true
  whitespace:
    removeTrailingWhitespace: false
  linter:
    lintOnChange: false
    showGutters: false
    statusBar: "Show error if the cursor is in range"
    subtleLinterErrors: [
      "jshint"
      "php"
      "phpcs"
      "phpmd"
    ]
  "tree-view":
    hideIgnoredNames: true
  dash:
    grammars:
      JavaScript: [
        "nodejs"
        "underscore"
        "backbone"
        "grunt"
        "express"
        "require"
        "jquery"
        "javascript"
      ]
      HTML: [
        "html"
        "underscore"
        "backbone"
        "jquery"
        "javascript"
        "css"
      ]
      ActionScript: [
        "actionscript"
      ]
      CSS: [
        "css"
        "bootstrap"
      ]
      "Shell Scripts": [
        "bash"
        "manpages"
      ]
      SQL: [
        "mysql"
      ]
      SVG: [
        "svg"
      ]
      PHP: [
        "php"
        "laravel"
      ]
      Sass: [
        "compass"
        "sass"
        "css"
      ]
  docblockr: {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "linter-jshint": {}
  "linter-php": {}
  "linter-phpcs": {}
  react: {}
".coffee.jsx.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
".js.jsx.source":
  editor:
    nonWordCharacters: "./\\\\()\\\"'-:,.;<>~!@#$%^&*|+=[]{}`~?"
