"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontSize: 13
  "exception-reporting":
    userId: "7f7d215f-567b-4065-be21-503224ce3861"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierEslintOptions: {}
    prettierOptions:
      singleQuote: true
    useEslint: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
