[
  {
    title: "Dotfiles"
    paths: [
      "/Users/nrb/.dotfiles"
    ]
  }
  {
    title: "Archives Nte"
    paths: [
      "/Users/nrb/Code/archives.nte.qc.ca"
    ]
  }
  {
    title: "Lachapelle Org"
    paths: [
      "/Users/nrb/Code/lachapelle.org"
    ]
  }
  {
    title: "Popperscoolers Com"
    paths: [
      "/Users/nrb/Code/popperscoolers.com"
    ]
  }
  {
    title: "Panneau"
    paths: [
      "/Users/nrb/Code/panneau"
    ]
  }
  {
    title: "Lesvoixdemaisonneuve"
    paths: [
      "/Users/nrb/Code/lesvoixdemaisonneuve"
    ]
  }
]
